 body{
     background-color: lightyellow;
     font-family: Verdana, Arial, sans-serif;
 }
 h1{
     color: orange;
     text-align: center;
     font-style: italic;
 }

 h2{
     color: (#999999);
     margin-top: 0 auto; 
     text-align: center;
  }

  .article{
    text-align: center;  
    width: 1024px;
    margin: 5px  
  }

  .intro{
      text-align: center;
      font-style: italic;
      padding: 50px;
      margin :  0 50px;
      float: right;
  }

  .selection{
    width: 300px;
    margin: 20px;
    float: right;
  }


  a{
      font-weight: bolder;
      text-decoration: underline;
  }

  a:visited{
      color: blue;
      font-weight: bolder;
      text-decoration: underline;
      font-weight: lighter;
      color: orange;
  }

  a:hover{
    text-decoration: underline;
    font-weight: lighter;
    color: orange;
  }

  img{
      width: 280px;
      margin-top: 0px;
  }
  